.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

cpp_random_number_generator/main.exe
cpp_random_text_from_dataset/main.exe
cpp_text_shuffle/main.exe
.gitignore
cpp_palindrome/main.exe
cpp_reversed_text/main.exe
cpp_basic_user_profile/main.exe
